[Desktop Entry]
Type=Application
Version=1.0
Name=fokus
GenericName=Focus Timer and Stopwatch
Comment=A minimalist terminal‐based focus timer and stopwatch with daily logging, built in Rust
Exec=fokus
Terminal=true
Categories=Utility;ConsoleOnly;
Keywords=focus;study;tui;stopwatch;timer;
